@import url('https://fonts.googleapis.com/css?family=Mali');

/* #app{ */
    /* background:#30ccdd} */
*{
    box-sizing:border-box;
    font-family:'Mali',sans-serif
}

.mail-app a{
    font-size:13px;
    cursor: pointer
}
.mail-list{
    width:70%
}
.mail-preview{
    border:1px solid;
    justify-content: space-between

}
.mail-list{
    margin-bottom:30px
}
.mail-preview div{
    align-items: center;

}
.mail-preview p{
    font-weight:bold

}
.mail-preview:hover{
    animation: bounceIn .6s alternate
}
.mail-navbar{
    margin-left:10px;
    
}
.mail-navbar *{
    margin: 1em 0
}
.mail-preview.read p{
    font-weight:400;
    
}
.unread-msg-container{
    position: relative;
}
.mail-preview button{
    background:none;
    border:none;
}
.sender-name-container{
    border:1px solid;
    padding:0.6em 1em;
    box-shadow:1px 2px 3px,-1px -2px 3px;
    border-radius:20px;
}
.unread-msg-count{
    background:rgba(239,49,100,0.7);
    color:black;
    padding:0.1em .5em;
    border-radius: 50%;
    position: absolute;
    top:-10px;
    left:45px
}

.checkbox-container img{
    width:24px;
    
}
.checkbox-container{
    position: relative;
    padding:1em;
}
.compose-mail{
    width:50%;
  
    margin:20px auto  
    
}
.compose-mail input,textarea{
    width:100%;
    padding:1em;
    resize: none
}
    
.mail-filter{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 2em;
}

.mail-filter input{
    width: 100%;
}

.mail-navbar a{

    font-size:1.2em;
   
}
.single-mail{
    border:1px solid;
    position: relative;
}
.single-mail .delete-btn{
    background:none;
    border:none;
    position: absolute;
    top:0;
    right:0
 
}
.single-mail .delete-btn:hover{
    opacity:0.5;
    transition:all 1s;
}
@keyframes bounceIn{
    0%{
        transform:scale(1); opacity:0.2
    }
    60%{
        transform:scale(1.01); opacity:0.9
    }
    100%{
        transform:scale(1); opacity:1
    }
}