*{
    box-sizing:border-box
}
.mail-app a{
    font-size:13px;
}
.mail-list{
    width:100%
}
.mail-preview{
    border:1px solid;
    margin:1em 0;
    width:50%;
}
.mail-preview p{
    max-width:100px;
}
.mail-preview div{
    align-items: center;

}
.mail-preview p{
    font-weight:bold

}
.mail-preview.read p{
    font-weight:400;
    
}
.unread-msg-container{
    position: relative;
}
.unread-msg-count{
    background:red;
    color:White;
    /* padding:0.1em .3em; */
    border-radius: 50%;
    position: absolute;
    top:0;
}
.compose-mail{
    width:50%;
    margin: 0 auto  
    
}
.compose-mail input,textarea{
    width:100%;
    padding:1em;
    resize: none
}
.compose-mail textarea{
    
}
.mail-navbar a{
    /* border:1px solid; */
    /* width:20%; */
    font-size:1.2em;
    /* position: relatsive; */
    /* padding:1em; */
}
.single-mail{
    border:1px solid;
    position: relative;
}
.single-mail .delete-btn{
    background:none;
    border:none;
    position: absolute;
    top:0;
    right:0
 
}
.single-mail .delete-btn:hover{
    opacity:0.5;
    transition:all 1s;
}