.keep-app {
    display: flex;
    align-items: center;
    flex-direction: column
}
.keep-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}
.keep-search {
    width: 80%;
    display: flex;
    justify-content: center;
    height: 2em;
}
.keep-search input {
    width: 100%;
}
.keep-new-note {
    width: 80%;
    display: flex;
    justify-content: center;
    height: 2em;
}
.keep-new-note form {
    display: flex;
    width: 100%;
}
.keep-new-note form input {
    width: 100%;
}
.keep-new-note .btn-save-note {
    display: none
}
@media (max-width: 700px) {
    .keep-new-note .btn-save-note {
        display: flex
    }
}
.keep-container h1 {
    text-align: center;
    font-size: 2em;
}
.keep-container ul {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: aliceblue;
    border: 1px solid lightgrey;
    min-height: 70vh;
    flex-wrap: wrap;

}
.keep-container ul>*  {
    height: 100%;
    display: flex;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid lightgrey;
}
.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    min-width: 110px;
}
.keep-container a {
    text-decoration: none;
    color: inherit;
}
.keep-container p {
    margin: 5px;
}
.img-preview img {
    width: 200px;
    height: 200px;
}
.fas {
    color: grey;
    margin-top: 30px;
}
.keep-new-note .fas,
.keep-search .fas {
    margin-top: 0;
}
.text-preview,
.img-preview,
.todo-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.todo-preview li.done {
    text-decoration: line-through;
}
.preview-icons-panel {
    justify-content: space-between
}
.activeBtn i {
    color: black;
    font-size: 1em;
}
.edit-panel {
    cursor: pointer;
}

