a{
    text-decoration: none;
    color:black;
}a:hover{
    color:#ab3424;
}

.main-nav-bar {
    background-color: lightgrey;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}
.link-nav {
    margin: 10px;   
}
