
.status-bar span{
    width:30px;
    background:blue;
    margin:5px
}
.status-container{
    border:1px solid;
    width:fit-content;
    width:100%;
    border-radius:5px;
    height:20px;
    display:flex;
    
}
.status-inner{
}
.hidden{
    visibility: hidden;
}
.percent-display{
    text-align:center
}